<div class="container">

  <!-- Section Identité -->
  <div class="row identite">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <img src="assets/images/corentin.jpg" class="img-fluid" alt="Corentin Guinault">
    </div>
    <div class="col-md-3 d-flex align-items-center">
      <div>
        <h3>Corentin Guinault</h3>
        <h4>Chargé de projet géodiversité</h4>
      </div>
    </div>
    <div class="col-md-2">
      <img src="assets/images/zacharie_moulin.jpg" class="img-fluid" alt="Zacharie Moulin">
    </div>
    <div class="col-md-3 d-flex align-items-center">
      <div>
        <h3>Zacharie Moulin</h3>
        <h4>Chargé de mission géomaticien</h4>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br>

  <h2>Contacter un administrateur</h2>
  <hr>

  <!-- Formulaire de contact Material dans une grille Bootstrap -->
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom" placeholder="Nom" autocomplete="family-name" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" placeholder="E-mail" autocomplete="given-name">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Sujet</mat-label>
          <mat-select formControlName="sujet" required>
            <mat-option value="" disabled>Quel est votre sujet ?</mat-option>
            <mat-option value="technique">Question technique sur le site</mat-option>
            <mat-option value="geologie">Question sur la géologie des réserves</mat-option>
            <mat-option value="autre">Autre question</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Message</mat-label>
          <textarea matInput formControlName="message" placeholder="Entrez votre message..." required></textarea>
        </mat-form-field>
      </div>
    </div>

    <!-- Captcha -->
    <div class="row">
      <div class="col-md-12 text-right">
        <div class="recaptcha-wrapper">
          <re-captcha siteKey={{captcha_key}} (resolved)="onCaptchaResolved($event)">
          </re-captcha>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 text-center">
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">
          <mat-icon>close</mat-icon> Annuler
        </button>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-2 text-center">
        <button type="submit" mat-raised-button color="primary">
          <mat-icon>check</mat-icon> Envoyer
        </button>
      </div>
    </div>
  </form>
</div>