<div *ngIf="site" id="export-content">
  <mat-card class="site-card">
    <mat-card-header>
      <mat-card-title>{{ site.nom }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="details-container">
        <h3>Synthèse</h3>
        
        <div>
          <strong>La réserve a-t-elle été créée sur le fondement d’un patrimoine géologique ?</strong>
          {{ tInfosBaseSite?.reserve_created_on_geological_basis ? 'Oui' : 'Non' }}
        </div>
        
        <div>
          <strong>La réserve abrite-t-elle du patrimoine géologique ?</strong>
          <div>=> Selon l'inpg</div>
          <div *ngFor="let inpg of site.inpg">
            <a [href]="inpg.url" target="_blank">{{ inpg.lb_site }}</a>
            {{ inpg.interet_geol_principal }}
            <ngb-rating [max]="3" [(rate)]="inpg.nombre_etoiles" [readonly]="true" class="star-rating"></ngb-rating>
          </div>

          <div>=> Selon d'autres données</div>
          <div *ngFor="let heritage of principalHeritage">
            <a [href]="heritage.url" target="_blank">{{ heritage.lb }}</a>
            {{ heritage.interet_geol_principal }} -
            <ngb-rating [max]="3" [(rate)]="heritage.nombre_etoiles" [readonly]="true" class="star-rating"></ngb-rating>
          </div>
        </div>
        
        <div>
          <strong>Le périmètre de protection de la réserve abrite-t-il du patrimoine géologique ?</strong>
          <div>=> Selon l'inpg</div>
          <div *ngFor="let inpg of site.perimetre_protection.inpg">
            <a [href]="inpg.url" target="_blank">{{ inpg.lb_site }}</a>
            {{ inpg.interet_geol_principal }}
            <ngb-rating [max]="3" [(rate)]="inpg.nombre_etoiles" [readonly]="true" class="star-rating"></ngb-rating>
          </div>

          <div>=> Selon d'autres données</div>
          <div *ngFor="let heritage of protectionHeritage">
            <a [href]="heritage.url" target="_blank">{{ heritage.lb }}</a>
            {{ heritage.interet_geol_principal }} -
            <ngb-rating [max]="3" [(rate)]="heritage.nombre_etoiles" [readonly]="true" class="star-rating"></ngb-rating>
          </div>
        </div>

        <div>
          <strong>Quels sont les intérêts géologiques principaux de la réserve ?</strong>
          <div>=> Selon l'inpg</div>
          <ng-container *ngFor="let inpg of site.inpg">
            <strong>{{ inpg.interet_geol_principal }}</strong><br>
          </ng-container>

          <div>=> Selon d'autres données</div>
          <ng-container *ngFor="let heritage of principalHeritage">
            <strong>{{ heritage.interet_geol_principal }}</strong><br>
          </ng-container>
        </div>

        <div>
          <strong>Les terrains de la réserve renferment-ils du patrimoine paléontologique ?</strong>
          <ul *ngIf="tInfosBaseSite?.contains_paleontological_heritage">
            <li *ngFor="let item of paleontologicalLabels">{{ item }}</li>
          </ul>
        </div>

        <div>
          <strong>La réserve dispose-t-elle de collections géologiques propres ?</strong>
           <div>{{ tInfosBaseSite?.reserve_has_geological_collections ? 'Oui' : 'Non' }}</div>
        </div>

        <div>
          <strong>La réserve dispose-t-elle d’un lieu d’exposition de collections géologiques ?</strong>
           <div>{{ tInfosBaseSite?.reserve_has_exhibition ? 'Oui' : 'Non' }}</div>
        </div>

        <div>
          <strong>Âge des terrains à l’affleurement dans la réserve :</strong><br>
          <strong>Âge des terrains :</strong> {{ tInfosBaseSite?.geological_age }}<br>
          <strong>Étage :</strong> {{ tInfosBaseSite?.etage }}<br>
          <strong>Ère Période Époque :</strong> {{ tInfosBaseSite?.ere_periode_epoque }}
        </div>

        <div>
          <strong>La réserve abrite-t-elle un stratotype ?</strong>
          <div>{{ tInfosBaseSite?.reserve_contains_stratotype ? 'Oui' : 'Non' }}</div>
          <span *ngIf="tInfosBaseSite?.reserve_contains_stratotype">
            <strong>Stratotype de limite :</strong> 
            <div>{{ tInfosBaseSite?.stratotype_limit ? 'Oui' : 'Non' }}</div><br>
            <span *ngIf="tInfosBaseSite?.stratotype_limit">
              <strong>Préciser :</strong> 
              <div>{{ tInfosBaseSite?.stratotype_limit_input }}</div>
            </span><br>
            <strong>Stratotype d’étage :</strong> 
             <div>{{ tInfosBaseSite?.stratotype_stage ? 'Oui' : 'Non' }}</div><br>
            <span *ngIf="tInfosBaseSite?.stratotype_stage">
              <strong>Préciser :</strong>
               <div>{{ tInfosBaseSite?.stratotype_stage_input }}</div>
            </span>
          </span>
        </div>

        <div>
          <strong>La réserve présente-t-elle des milieux souterrains abritant un patrimoine naturel identifié, biologique ou géologique ?</strong>
          {{ tInfosBaseSite?.contains_subterranean_habitats ? 'Oui' : 'Non' }}
          <span *ngIf="tInfosBaseSite?.contains_subterranean_habitats">
            <strong>Cavités naturelles :</strong>
             <div>{{ tInfosBaseSite?.subterranean_habitats_natural_cavities ? 'Oui' : 'Non' }}</div><br>
            <strong>Cavités anthropiques :</strong> 
             <div>{{ tInfosBaseSite?.subterranean_habitats_anthropogenic_cavities ? 'Oui' : 'Non' }}</div>
          </span>
        </div>

        <div>
          <strong>La réserve est-elle associée à une exploitation de ressources minérales ?</strong>
           <div>{{ tInfosBaseSite?.associated_with_mineral_resources ? 'Oui' : 'Non' }}</div>
          <span *ngIf="tInfosBaseSite?.associated_with_mineral_resources">
            <strong>Ancienne carrière :</strong> 
            <div>{{ tInfosBaseSite?.mineral_resources_old_quarry ? 'Oui' : 'Non' }}</div><br>
            <strong>Carrière en activité :</strong> 
             <div>{{ tInfosBaseSite?.mineral_resources_active_quarry ? 'Oui' : 'Non' }}</div><br>
            <span *ngIf="tInfosBaseSite?.mineral_resources_active_quarry">
              <strong>Préciser la substance exploitée :</strong> 
              <div>{{ tInfosBaseSite?.quarry_extracted_material }}</div><br>
              <strong>Matériau fossilifère :</strong> 
               <div>{{ tInfosBaseSite?.quarry_fossiliferous_material ? 'Oui' : 'Non' }}</div>
            </span><br>
            <strong>Ancienne mine :</strong> 
             <div>{{ tInfosBaseSite?.mineral_resources_old_mine ? 'Oui' : 'Non' }}</div>
            <strong>Mine en activité :</strong> 
             <div>{{ tInfosBaseSite?.mineral_resources_active_mine ? 'Oui' : 'Non' }} </div>
            <span *ngIf="tInfosBaseSite?.mineral_resources_active_mine">
              <strong>Préciser la substance exploitée :</strong> {{ tInfosBaseSite?.mine_extracted_material }}<br>
              <strong>Matériau fossilifère :</strong> 
                <div>{{ tInfosBaseSite?.mine_fossiliferous_material ? 'Oui' : 'Non' }}</div>
            </span>
          </span>
        </div>

        <div>
          <strong>La réserve dispose-t-elle d’un site géologique aménagé pour les visiteurs ?</strong>
            <div>{{ tInfosBaseSite?.reserve_has_geological_site_for_visitors ? 'Oui' : 'Non' }} </div>
        </div>

        <div>
          <strong>La réserve propose-t-elle des animations sur la thématique géodiversité / patrimoine géologique ?</strong>
           <div>{{ tInfosBaseSite?.offers_geodiversity_activities ? 'Oui' : 'Non' }}</div>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions class="links-container">
      <a mat-button [routerLink]="['/fiche-terrain', site.slug]">Fiche de terrain</a>
      <a mat-button [routerLink]="['/t_infos_base_site', site.slug]">Mini-questionnaire</a>
      <button mat-button (click)="exportData()">Exporter</button>
    </mat-card-actions>
  </mat-card>
</div>
