 
 
  .links-container  {
    margin: 0 10px; /* Ajoute une marge de 10px entre les liens */
    justify-content: center;
  }
  
  .links-container h3 a {
    display: inline-block; /* Permet de définir une largeur et une hauteur à l'élément <a> */
    padding: 5px 10px; /* Ajoute un espacement à l'intérieur de l'élément <a> */
    border-radius: 5px; /* Ajoute des coins arrondis à l'élément <a> */
    transition: background-color 0.3s; /* Ajoute une transition pour une animation fluide */
   
  }
  
  .links-container h3 a:active {
    background-color: rgb(193, 206, 7); /* Change la couleur de fond en vert lorsque le lien est cliqué */
    color: white; /* Change la couleur du texte en blanc lorsque le lien est cliqué */
  }

  .image-placeholder {
    width: 100%;
    height: 200px; /* Ajustez la hauteur selon vos besoins */
    background-color: #f0f0f0; /* Couleur grise claire pour représenter l'espace de l'image */
    border: 1px solid #ddd; /* Bordure légère pour l'espace de l'image */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Espace sous l'image */
  }
  
  .spacing {
    height: 20px; /* Ajustez cette valeur pour créer plus ou moins d'espace */
  }
  .map-section {
    background-color: #999595; /* Gris clair pour le fond de la carte */
    padding: 50px;
    margin-bottom: 20px;
  }
  
   
 
  .map-section {
    background-color: #e0e0e0; /* Couleur de fond gris clair */
    padding: 70px;
    margin-bottom: 20px;
    width: 150%; /* Largeur de 100% pour occuper tout l'espace disponible */
    max-width: 1200px; /* Optionnel : Limite la largeur maximale, ajustez selon vos besoins */
    margin: 0 auto; /* Centre le rectangle si la largeur est inférieure à 100% */
  }
  
   
 
 
  .title-container {
    display: flex;
 
    margin-bottom: 10px;
  }
  
  .heritage-icon {
    width: 80px;
    height: auto;
    margin-right: 10px;
     

  }
  
  .heritage-title {
    color: green;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
  
  }
  
  .heritage-content {
    text-align: justify; /* Justifie le texte pour un alignement propre */
    font-size: 1em;
    line-height: 1.6;
    margin-left: 90px;
  
  }
  
  .heritage-content p {
    margin-bottom: 10px; /* Espace entre les paragraphes */
 
  }
  .heritage-content strong {
    color: #097c03; /* Couleur verte pour les titres dans la section */
   
  }
  
  .subsection-title {
    color: #097c03; /* Texte en vert pour les sous-sections */
    font-weight: bold;
    margin-top: 15px;
 
  }
  