@import 'src/styles/custom-theme.scss';

.links-container {
  margin: 0 10px;
  justify-content: center;
  text-align: center;
}

.links-container h3 a {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;

}

.links-container h3 a:active {
  background-color: rgb(193, 206, 7);
  color: white;
}



#mapReserve {
  height: 400px;
}

.title-container {
  display: flex;

  margin-bottom: 10px;
}

.heritage-icon {
  width: 80px;
  height: auto;
  margin-right: 10px;


}

.heritage-title {
  color: mat-color($custom-primary, 500);
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 30px;

}

.heritage-title1 {
  color: mat-color($custom-primary, 500);
  font-size: 1.5em;
  font-weight: bold;
}

.heritage-content {
  text-align: justify;
  font-size: 1em;
  line-height: 1.6;
  margin-left: 90px;

}

.heritage-content p {
  margin-bottom: 10px;

}

.heritage-content strong {
  color: #097c03;

}

.subsection-title {
  color: mat-color($custom-accent, 500);
  font-weight: bold;
  margin-top: 15px;
}

.subsection-response {
  padding-left: 20px;
}

.table-geologique {
  width: 60%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-left: 6%;


}

.table-geologique th {
  background-color: #d7e9d7;
  text-align: left;
  padding: 10px;
  font-size: 1.2em;
  color: #5a9e58;
  border-bottom: 2px solid #5a9e58;
}

.table-geologique td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}

.table-geologique td a {
  color: #131414;
  text-decoration: none;
  font-weight: bold;
}

.table-geologique td a:hover {
  text-decoration: underline;
}

.table-geologique .no-data {
  color: #999;
  font-style: italic;
}

.table-geologique tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.table-geologique tbody tr:nth-child(odd) {
  background-color: #fff;
}

.table-geologique th:first-child,
.table-geologique td:first-child {
  border-right: 1px solid #ddd;
}

.table-geologique th,
.table-geologique td {
  padding: 15px;
}


.table-geologique .inpg-title {
  font-weight: bold;
  font-size: 1.1em;
  color: #5a9e58;
}


@media (max-width: 768px) {

  .table-geologique th,
  .table-geologique td {
    padding: 8px;
    font-size: 0.9em;
  }
}



// .collections-section p {
//   font-size: 1.1em;
//   margin: 10px 0;
//   margin-left: 6%;
// }


// .sensibilisation-section p {
//   font-size: 1.1em;
//   margin: 10px 0;
//   line-height: 1.5;
//   margin-left: 6%;
// }

.details-summary {
  display: flex;
  justify-content: 5px;
  margin: 20px 0;
  justify-content: center;


}

.summary-row {
  display: flex;
  justify-content: 5px;
  width: 50%;
}

.summary-item {
  text-align: center;
  padding: 10px;
}

.summary-label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  color: #4CAF50;
}

.summary-value {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #535252;
}

#export-content {
  background-color: #FFFFFF;
}

.contenu {
  font-family: Century Gothic, sans-serif;
  margin-top: 20px;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}



.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.stat-item {
  text-align: center;
  position: relative;
  flex-grow: 1;
}

.stats-container fa-icon {
  font-size: 36px;
  color: mat-color($custom-accent, 500);
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
  color: mat-color($custom-primary, 500);
}

.stat-label {
  font-size: 14px;
  color: grey;
}

.stat-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-left: 3px solid mat-color($custom-primary, 500);
  height: 50px;
}

.legend-container {
  text-align: right;
  gap: 15px;
  padding-bottom: 10px;
  font-size: 14px;
  margin-top: 10px;
  align-items: center;
}

span.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
}

.leaflet-container a {
  text-decoration: none !important;
  color: mat-color($custom-primary, 500) !important;
  font-weight: bold !important;
}



.bouttons {
  margin: 20px;
  text-align: center;
}

.filled-toggle {
  background-color: mat-color($custom-primary, 500);
  color: white;
}

.sites-inpg fa-icon {
  color: gold;
}

.sites-inpg a {
  color: mat-color($custom-primary, 500);
  text-decoration: none;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.mat-button-toggle-checked {
  color: white !important;
  /* Remplacez #ff5722 par la couleur souhaitée */
}

.geopatrimoine-lb {
  color: mat-color($custom-primary, 500);
  font-weight: bold;
}

.geopatrimoine-biblio {
  font-style: italic;
}

.infos-maj {
  text-align: right;
  font-size: smaller;
  font-style: italic;
}