<div *ngIf="site">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2" id="col-menu">
          <div id="col-menu-content" class="card" data-offset-top="200">
            <div class="card-body">
              <div id="main_image">
                <img *ngIf="site.photos.length > 0" [src]="site.photos[0].url" class="img-rounded" />
              </div>
              <div id="carto">
                <div id="map-main" class="minimap"></div>
              </div>
              <div id="tdm">
                <ul>
                  <li><a href="#Q-1">Q-1 / Approche géographique du territoire</a>
                    <ul>
                      <li><a href="#points_de_vue">Q-1 /0 Images et documents</a></li>
                      <li><a href="#contexte_general">Q-1 /1 Contexte général</a></li>
                      <li><a href="#contexte_hydro">Q-1 /2 Contexte hydrographique général</a></li>
                      <li><a href="#contexte_littoral">Q-1 /3 Contexte général littoral et marin</a></li>
                      <li><a href="#contexte_anthropique">Q-1 /4 Contexte anthropique général - Aménagements</a></li>
                    </ul>
                  </li>
                  <li><a href="#Q-2">Q-2 / Aspects morphologiques et structuraux des terrains</a>
                    <ul>
                      <li><a href="#contexte_geol_regional">Q-2 /0 Contexte géologique régional et local</a></li>
                      <li><a href="#structures_geol_regionales">Q-2 /1 Grandes structures géologiques régionales</a></li>
                      <li><a href="#structures_geol_territoire">Q2 /2 Structures géologiques à l’échelle du territoire</a></li>
                      <li><a href="#contexte_sismique">Q-2 /3 Contexte sismique</a></li>
                      <li><a href="#volcanisme">Q-2 /4 Structures et morphologies liées au volcanisme</a></li>
                      <li><a href="#morpho_erosive">Q-2 /5 Morphologies liées à l’érosion générale</a></li>
                      <li><a href="#morpho_karstique">Q-2 /6 Morphologies karstiques</a></li>
                      <li><a href="#morpho_glaciaire">Q-2 /7 Morphologies glaciaires</a></li>
                      <li><a href="#morpho_alluvionnaire">Q-2 /8 Morphologies alluvionnaires des cours d’eau</a></li>
                      <li><a href="#plages_littorales">Q-2 /9 Plages littorales : sable, galets et vase</a></li>
                      <li><a href="#dunes_littorales">Q-2 /10 Systèmes dunaires littoraux</a></li>
                      <li><a href="#cotes_rocheuses">Q-2 /11 Côtes rocheuses</a></li>
                      <li><a href="#structures_rocheuses_particulieres">Q-2 /12 Structures et figurés rocheux particuliers à petite et moyenne échelle</a></li>
                    </ul>
                  </li>
                  <li><a href="#Q-3">Q-3 / Identification des terrains, des roches et des fossiles</a>
                    <ul>
                      <li><a href="#infos_preliminaires">Q3 /00 Informations préliminaires</a></li>
                      <li><a href="#Q3-1"><b>Q3 /1 Recensement des différentes entités géologiques constituant le sous-sol du territoire</b></a></li>
                    </ul>
                  </li>
                  <li><a href="#Q-4">Q-4 / Objets géologiques remarquables</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  
        <div id="page-content" class="container-fluid col-lg-10">
          <div id="entete">
            <h1>{{ site.nom }}</h1>
          </div>
          <!--
          <div *ngIf="site.statut_validation == 'attente' || site.statut_validation == 'validation'" class="alert alert-warning">
            <strong>Attention</strong><br />
            <p>Cet espace est
            <span *ngIf="site.statut_validation == 'attente'">
              au stade de brouillon. Cliquez ci-dessous pour le publier.</span>
              <a *ngIf="site.statut_validation == 'attente'" href="#" class="btn btn-success">Publier</a>
            </p>
          </div>
          -->
          <div *ngIf="site.last_modified && site.modified_by_userid">
            Modifié le {{ site.last_modified | date:'dd/MM/yyyy' }}
            par Utilisateur {{ site.modified_by_userid }}.
          </div>
          <p>
            <a href="#">Accès à la fiche synthétique</a>
            <span *ngIf="editable">
              <br /><a href="#">Voir la nouvelle disposition (Version alpha)</a>
            </span>
          </p>
  
          <!-- Autres contenus HTML -->
        </div>
      </div>
    </div>
  </div>
  