<div class="container">
  <h1>MINI-QUESTIONNAIRE</h1>
  <form [formGroup]="miniQuestForm" (ngSubmit)="onSubmit()">
    <!-- Question 1 -->
    <div class="form-group">
      <label>
        <h6> Q-1 Est-ce que la réserve a été créée sur le fondement d’un patrimoine géologique ?</h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="reserve_created_on_geological_basis">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <!-- Question 2 -->
    <div class="form-group" formGroupName="reserve_contains_geological_heritage">
      <label>
        <h6>Q-2 Est-ce que la réserve abrite du patrimoine géologique ?</h6>
      </label>
      <div>
        <mat-checkbox formControlName="inpg">Oui (données INPG)</mat-checkbox>
        <div *ngIf="miniQuestForm.get('reserve_contains_geological_heritage')?.get('inpg')?.value">
          <mat-form-field>
            <mat-label>Liste des sites INPG associés à la RN</mat-label>
            <input matInput formControlName="inpgDetails" placeholder="Remplissage automatisé à partir des données INPG">
          </mat-form-field>
        </div>
        <mat-checkbox formControlName="other">Oui (autre donnée à préciser)</mat-checkbox>
        <div *ngIf="miniQuestForm.get('reserve_contains_geological_heritage')?.get('other')?.value">
          <mat-form-field>
            <mat-label>Préciser la source de la donnée et préciser les sites concernés</mat-label>
            <input matInput formControlName="otherDetails">
          </mat-form-field>
        </div>
        <mat-checkbox formControlName="none">Non</mat-checkbox>
      </div>
    </div>

    <!-- Question 3 -->
    <div class="form-group" formGroupName="protection_perimeter_contains_geological_heritage">
      <label>
        <h6>Q-3 Est-ce que le périmètre de protection de la réserve (hors secteurs classés) abrite du patrimoine géologique ?</h6>
      </label>
      <div>
        <mat-checkbox formControlName="inpg">Oui (données INPG)</mat-checkbox>
        <div *ngIf="miniQuestForm.get('protection_perimeter_contains_geological_heritage')?.get('inpg')?.value">
          <mat-form-field>
            <mat-label>Liste des sites INPG associés à la RN</mat-label>
            <input matInput formControlName="inpgDetails">
          </mat-form-field>
        </div>
        <mat-checkbox formControlName="other">Oui (autre donnée à préciser)</mat-checkbox>
        <div *ngIf="miniQuestForm.get('protection_perimeter_contains_geological_heritage')?.get('other')?.value">
          <mat-form-field>
            <mat-label>Préciser la source de la donnée et préciser les sites concernés</mat-label>
            <input matInput formControlName="otherDetails">
          </mat-form-field>
        </div>
        <mat-checkbox formControlName="none">Non</mat-checkbox>
      </div>
    </div>

    <!-- Question 4 -->
    <div class="form-group" formGroupName="main_geological_interests">
      <label>
        <h6>Q-4 Quels sont les intérêts géologiques principaux de la réserve ?</h6>
      </label>
      <div>
        <mat-checkbox formControlName="stratigraphic">Stratigraphique</mat-checkbox>
        <mat-checkbox formControlName="paleontological">Paléontologique</mat-checkbox>
        <mat-checkbox formControlName="sedimentological">Sédimentologique</mat-checkbox>
        <mat-checkbox formControlName="geomorphological">Géomorphologique</mat-checkbox>
        <mat-checkbox formControlName="mineralResource">Ressource minérale</mat-checkbox>
        <mat-checkbox formControlName="mineralogical">Minéralogique</mat-checkbox>
        <mat-checkbox formControlName="metamorphism">Métamorphisme</mat-checkbox>
        <mat-checkbox formControlName="volcanism">Volcanisme</mat-checkbox>
        <mat-checkbox formControlName="plutonism">Plutonisme</mat-checkbox>
        <mat-checkbox formControlName="hydrogeology">Hydrogéologie</mat-checkbox>
        <mat-checkbox formControlName="tectonics">Tectonique</mat-checkbox>
      </div>
    </div>

    <!-- Question 5 -->
    <div class="form-group" formGroupName="contains_paleontological_heritage">
      <label>
        <h6>Q-5 Est-ce que les terrains de la réserve renferment du patrimoine paléontologique ?</h6>
      </label>
      <div>
        <mat-radio-group formControlName="answer">
          <mat-radio-button value=True>Oui</mat-radio-button>
          <div *ngIf="miniQuestForm.get('contains_paleontological_heritage')?.get('answer')?.value === 'True'">
            <mat-checkbox formControlName="vertebrates">Vertébrés</mat-checkbox>
            <mat-checkbox formControlName="invertebrates">Invertébrés</mat-checkbox>
            <mat-checkbox formControlName="plants">Végétaux</mat-checkbox>
            <mat-checkbox formControlName="traceFossils">Traces fossiles</mat-checkbox>
            <mat-checkbox formControlName="other">Autres</mat-checkbox>
            <div *ngIf="miniQuestForm.get('contains_paleontological_heritage')?.get('other')?.value">
              <mat-form-field>
                <mat-label>Préciser</mat-label>
                <input matInput formControlName="otherDetails">
              </mat-form-field>
            </div>
          </div>
          <mat-radio-button value=False>Non</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- Question 6 -->
    <div class="form-group">
      <label>
        <h6>Q-6 Est-ce que la réserve dispose de collections géologiques propres ?</h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="collectionsGeologiquesPropres">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <!-- Question 7 -->
    <div class="form-group">
      <label>
        <h6>Q-7 Est-ce que la réserve dispose d’un lieu d’exposition de collections géologiques ?</h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="expositionGeologiques">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <!-- Question 8 -->
    <div class="form-group">
      <label>
        <h6>Q-8 Âge des terrains à l’affleurement dans la réserve</h6>
      </label>
      <div>
        <mat-form-field>
          <mat-select formControlName="ageTerrains" multiple>
            <mat-option *ngFor="let age of ages" [value]="age">{{ age }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Question 9 -->
    <div class="form-group">
      <label>
        <h6>Q-9 Est-ce que la réserve (périmètre de protection inclus) abrite un stratotype ?</h6>
      </label>
      <div>
        <mat-radio-group formControlName="stratotype">
          <mat-radio-button value=True>Oui</mat-radio-button>
          <div *ngIf="miniQuestForm.get('stratotype')?.value === 'True'">
            <mat-checkbox formControlName="stratotypeLimite">Stratotype de limite</mat-checkbox>
            <div *ngIf="miniQuestForm.get('stratotypeLimite')?.value">
              <mat-form-field>
                <mat-label>Préciser le ou les stratotypes concernés</mat-label>
                <input matInput formControlName="stratotypeLimiteDetails">
              </mat-form-field>
            </div>
            <mat-checkbox formControlName="stratotypeEtage">Stratotype d’étage</mat-checkbox>
            <div *ngIf="miniQuestForm.get('stratotypeEtage')?.value">
              <mat-form-field>
                <mat-label>Préciser le ou les stratotypes concernés</mat-label>
                <input matInput formControlName="stratotypeEtageDetails">
              </mat-form-field>
            </div>
          </div>
          <mat-radio-button value=False>Non</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- Question 10 -->
    <div class="form-group">
      <label>
        <h6>Q-10 Est-ce que la réserve présente des milieux souterrains abritant un patrimoine naturel identifié, biologique ou géologique (périmètre de protection inclus) ?</h6>
      </label>
      <div>
        <mat-radio-group formControlName="milieuxSouterrains">
          <mat-radio-button value=True>Oui</mat-radio-button>
          <div *ngIf="miniQuestForm.get('milieuxSouterrains')?.value === 'True'">
            <mat-checkbox formControlName="cavitesNaturelles">Cavités naturelles</mat-checkbox>
            <mat-checkbox formControlName="cavitesAnthropiques">Cavités anthropiques</mat-checkbox>
          </div>
          <mat-radio-button value=False>Non</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- Question 11 -->
    <div class="form-group">
      <label>
        <h6>Q-11 Est-ce que la réserve est associée à une exploitation de ressources minérales ?</h6>
      </label>
      <div>
        <mat-radio-group formControlName="exploitationMinerale">
          <mat-radio-button value=True>Oui</mat-radio-button>
          <div *ngIf="miniQuestForm.get('exploitationMinerale')?.value === 'True'">
            <mat-checkbox formControlName="ancienneCarriere">Ancienne carrière</mat-checkbox>
            <div *ngIf="miniQuestForm.get('exploitationMinerale')?.get('ancienneCarriere')?.value">
              <mat-form-field>
                <mat-label>Préciser la substance exploitée</mat-label>
                <input matInput formControlName="ancienneCarriereSubstance">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Préciser si le matériau est fossilifère</mat-label>
                <mat-radio-group formControlName="ancienneCarriereFossilifere">
                  <mat-radio-button value=True>Oui</mat-radio-button>
                  <mat-radio-button value=False>Non</mat-radio-button>
                </mat-radio-group>
              </mat-form-field>
            </div>
            <mat-checkbox formControlName="carriereActive">Carrière en activité</mat-checkbox>
            <div *ngIf="miniQuestForm.get('exploitationMinerale')?.get('carriereActive')?.value">
              <mat-form-field>
                <mat-label>Préciser la substance exploitée</mat-label>
                <input matInput formControlName="carriereActiveSubstance">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Préciser si le matériau est fossilifère</mat-label>
                <mat-radio-group formControlName="carriereActiveFossilifere">
                  <mat-radio-button value=True>Oui</mat-radio-button>
                  <mat-radio-button value=False>Non</mat-radio-button>
                </mat-radio-group>
              </mat-form-field>
            </div>
            <mat-checkbox formControlName="ancienneMine">Ancienne mine</mat-checkbox>
            <div *ngIf="miniQuestForm.get('exploitationMinerale')?.get('ancienneMine')?.value">
              <mat-form-field>
                <mat-label>Préciser la substance exploitée</mat-label>
                <input matInput formControlName="ancienneMineSubstance">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Préciser si le matériau est fossilifère</mat-label>
                <mat-radio-group formControlName="ancienneMineFossilifere">
                  <mat-radio-button value=True>Oui</mat-radio-button>
                  <mat-radio-button value=False>Non</mat-radio-button>
                </mat-radio-group>
              </mat-form-field>
            </div>
            <mat-checkbox formControlName="mineActive">Mine en activité</mat-checkbox>
            <div *ngIf="miniQuestForm.get('exploitationMinerale')?.get('mineActive')?.value">
              <mat-form-field>
                <mat-label>Préciser la substance exploitée</mat-label>
                <input matInput formControlName="mineActiveSubstance">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Préciser si le matériau est fossilifère</mat-label>
                <mat-radio-group formControlName="mineActiveFossilifere">
                  <mat-radio-button value=True>Oui</mat-radio-button>
                  <mat-radio-button value=False>Non</mat-radio-button>
                </mat-radio-group>
              </mat-form-field>
            </div>
          </div>
          <mat-radio-button value=False>Non</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- Question 12 -->
    <div class="form-group">
      <label>
        <h6>Q-12 Est-ce que la réserve dispose d’un site géologique aménagé pour les visiteurs ?</h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="siteGeologiqueAmenege">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <!-- Question 13 -->
    <div class="form-group">
      <label>
        <h6>Q-13 Est-ce que la réserve propose des animations sur la thématique géodiversité / patrimoine géologique ?</h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="animationsGeodiversite">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <button mat-raised-button type="submit" [disabled]="miniQuestForm.invalid">Soumettre</button>
  </form>
</div>
