<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liens utiles / ressources</title>
    
</head>
<body>
    <div class="container">
        <h1>Liens utiles / ressources</h1>
        <p>Socle est une application web de saisie de la géodiversité des réserves naturelles, développée par le réseau des Réserves naturelles de France.

            Socle sensibilise les gestionnaires à la géologie de leur site et compile une base de données de la géodiversité à l'échelle du réseau.</p>
            
            <p>Pour vous aider dans votre démarche, voici quelques ressources qui peuvent vous être utiles :</p>
        <table>
            <tr>
                <td><img src="https://socle.reserves-naturelles.org/resources/images/logo_rnf.png" alt="Réserves Naturelles" class="logo"></td>
                <td><a href="http://www.pearltrees.com/t/geodiversite-patrimoine/cahier-de-geologie-rnf-2015/id29270734" target="_blank">Cahier de géologie de RNF</a></td>
                <td>Le document sur lequel se base cette application : un guide méthodologique destiné aux gestionnaires des réserves naturelles et autres espaces naturels.</td>
            </tr>
            <tr>
                <td><img src="https://infoterre.brgm.fr/viewer/style/default/images/logo.png" alt="InfoTerre" class="logo"></td>
                <td><a href="https://infoterre.brgm.fr/viewer/MainTileForward.do" target="_blank">Portail InfoTerre du BRGM</a></td>
                <td>Un accès aux données scientifiques et techniques sur la géologie en France : visualisation cartographique...</td>
            </tr>
            <tr>
                <td><img src="https://inpn.mnhn.fr/css/images_template/logo_inpn.png" alt="INPN" class="logo"></td>
                <td><a href="https://inpn.mnhn.fr/programme/patrimoine-geologique/presentation" target="_blank">Inventaire National du Patrimoine Géologique</a></td>
                <td>
                  Présentation de la démarche nationale d'inventaire du patrimoine géologique.<br>
                   Pour explorer les données : 
                  <a href="https://inpn.mnhn.fr/site/inpg/recherche" class="link-spacing">Consulter les fiches</a> <br>
                  <a href="https://inpn.mnhn.fr/telechargement/cartes-et-information-geographique/inpg/inpg" class="link-spacing">Télécharger les données SIG</a>
                </td>
              </tr>
              
            <tr>
                <td><img src="	https://www.geodiversite.net/local/cache-vignettes/L300xH55/siteon0-e5814.png" alt="Geodiversite" class="logo"></td>
                <td><a href="https://www.geodiversite.net/" target="_blank">Geodiversite.net : exploration du monde des cailloux</a></td>
                <td>Une application participative qui recense les particularités géologiques.</td>
            </tr>
            <tr>
                <td><img src="https://paleobiodb.org/favicon.ico" alt="PaleoBioDB" class="logo"></td>
                <td><a href="https://paleobiodb.org/#/" target="_blank">PaleoBioDB : Base de données sur la paléobiologie</a></td>
                <td>Base de données internationale sur la paléontologie et les fossiles.</td>
            </tr>
            <tr>
                <td><img src="assets/images/Pear.png" alt="Pear" class="logo"></td>
                <td><a href="http://www.pearltrees.com/t/geodiversite-patrimoine/depliant-geodiversite-2020/id61768287" target="_blank">Dépliant Géodiversité, au couer de la nature</a></td>
                <td>Avoir plus des informations </td>
            </tr>
            <tr>
                <td><img src="assets/images/Pear.png" alt="Pear" class="logo"></td>
                <td><a href="http://www.pearltrees.com/t/geodiversite-patrimoine/portrait-patrimoine-geologique/id77062054" target="_blank">Portrait patrimoine géologique des RN 2024</a></td>
                <td>Avoir plus d'informations</td>
              </tr>
              
            <tr>
                <td><img src="https://www.vigie-terre.org/images/logo.dab84d05.svg" alt="" clas="logo"> </td>
                <td><a href="https://www.vigie-terre.org/" target="_blank">VigieTerre</a></td>
                <td>Vigie terre : Un programme de sciences participatives sur la diversité géologique</td>
            </tr>
        </table>
    </div>
</body>
</html>
