<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des espaces naturels enregistrés</title> 
</head>
<body>
    
    <div class="container">
        <h1>Liste des espaces naturels enregistrés</h1>
        <div class="search-bar">
            <button>
                <svg width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.415l-3.85-3.85zm-5.442-.344a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z"/>
                </svg>
            </button>
            <input type="text" placeholder="Rechercher...">
            <br><br>
        </div>
        
        <h6>
            <ul>
                <li>Aiguilles Rouges</li>
                <li>Anciennes carrières d'Orival</li>
                <li>Anciennes carrières de Cléty</li>
                <li>Arjuzanx</li>
                <li>Astroblème de Rochechouart-Chassenon</li>
                <li>Baie de l'Aiguillon (Charente-Maritime)</li>
                <li>Bois du Parc</li>
                <li>Carlaveyron</li>
                <li>Casse de la Belle Henriette</li>
                <li>Chérine</li>
                <li>Contamines-Montjoie</li>
                <li>Coteaux de la Seine</li>
                <li>Coteaux du Pont-Barré</li>
                <li>Côte de Mancy</li>
                <li>Dunes et marais d'Hourtin</li>
                <li>Errota Handia</li>
                <li>Falaise du Cap Romain</li>
                <li>Forteresse de Mimoyecques</li>
                <li>Forêt de la Massane</li>
                <li>Frankenthal-Missheimle</li>
                <li>François Le Bail (Île de Groix)</li>
                <li>Gorges de Daluis</li>
                <li>Gorges de l'Ardèche</li>
                <li>Gorges du Gardon</li>
                <li>Grotte du T.M. 71</li>
                <li>Géologique de Normandie-Maine</li>
                <li>Géologique de Pontlevoy</li>
                <li>Géologique de Saucats et La Brède</li>
                <li>Géologique du Luberon</li>
                <li>Hauts de Chartreuse</li>
                <li>Hauts de Villaroger</li>
                <li>Hauts plateaux du Vercors</li>
                <li>Hettange-Grande</li>
                <li>Intérêt géologique du département du Lot</li>
                <li>La Désirade</li>
                <li>Lac Luitel</li>
                <li>Les Sauvages</li>
                <li>Marais communal de Saint-Denis-du-Payré - Michel Brosselin</li>
                <li>Marais d'Yves</li>
                <li>Marais de Müllembourg</li>
                <li>Marais de la Vacherie</li>
                <li>Mare de Vauville</li>
                <li>Massif de Saint-Barthélémy</li>
                <li>Molinet</li>
                <li>Moëze-Oléron</li>
                <li>Parc naturel régional du Vercors</li>
                <li>Passy</li>
                <li>Pierriers de Normandie</li>
                <li>Plaine des Maures</li>
                <li>Ravin de Valbois</li>
                <li>Ristolas - Mont-Viso</li>
                <li>Roc de Chère</li>
                <li>Récif fossile de Marchon - Christian Gourrat</li>
                <li>Réseau des landes et tourbières atlantiques du Parc Naturel Régional du Périgord-Limousin</li>
                <li>Réserve géologique de Haute-Provence</li>
                <li>Sainte-Lucie</li>
                <li>Sainte-Victoire</li>
                <li>Sept-Iles</li>
                <li>Site des carrières de Tercis-les-Bains</li>
                <li>Site géologique de Limay</li>
                <li>Site géologique de Vigny-Longuesse</li>
                <li>Sites d'intérêt géologique de la presqu'île de Crozon</li>
                <li>Sites géologiques de l'Essonne</li>
                <li>Toarcien</li>
                <li>Tourbière des Dauges</li>
                <li>Tourbière des Saisies - Beaufortain - Val d'Arly</li>
                <li>Val-Suzon</li>
                <li>Vallon de Bérard</li>
                <li>Vallées de la Grand-Pierre et de Vitain</li>
                <li>Vireux-Molhain</li>
            </ul>
        </h6>
    </div>
</body>
</html>
