<!-- explorer.component.html -->
<div class="search-container">
  <mat-form-field appearance="outline">
    <mat-label>Rechercher un espace</mat-label>
    <input matInput (input)="handleSearch($event)" placeholder="Ex: Aiguilles Rouges">
  </mat-form-field>
</div>
<mat-list>
  <mat-list-item *ngFor="let site of filteredEspaces" (click)="goToEspaceDetail(site.slug)">
    <mat-card class="espace-card">
      <mat-card-content>
        {{ site.nom }}
      </mat-card-content>
    </mat-card>
  </mat-list-item>
</mat-list>
