<div *ngIf="responses">
   <h4>Q-1: La réserve a-t-elle été créée sur une base géologique ?</h4>
   <p>{{ responses.reserveCreatedOnGeologicalBasis }}</p>

   <h4>Q-2: La réserve contient-elle un patrimoine géologique ?</h4>
   <ul *ngIf="responses.reserveContainsGeologicalHeritage.inpg || responses.reserveContainsGeologicalHeritage.other || responses.reserveContainsGeologicalHeritage.none">
     <li *ngIf="responses.reserveContainsGeologicalHeritage.inpg">INPG: {{ responses.reserveContainsGeologicalHeritage.inpg }}</li>
     <li *ngIf="responses.reserveContainsGeologicalHeritage.inpgDetails">Détials INPG: {{ responses.reserveContainsGeologicalHeritage.inpgDetails }}</li>
     <li *ngIf="responses.reserveContainsGeologicalHeritage.other">Autres: {{ responses.reserveContainsGeologicalHeritage.other }}</li>
     <li *ngIf="responses.reserveContainsGeologicalHeritage.otherDetails">Autres Details: {{ responses.reserveContainsGeologicalHeritage.otherDetails }}</li>
     <li *ngIf="responses.reserveContainsGeologicalHeritage.none">Aucun: {{ responses.reserveContainsGeologicalHeritage.none }}</li>
   </ul>

   <h4>Q-3: Le périmètre de protection contient-il un patrimoine géologique ?</h4>
   <ul *ngIf="responses.protectionPerimeterContainsGeologicalHeritage.inpg || responses.protectionPerimeterContainsGeologicalHeritage.other || responses.protectionPerimeterContainsGeologicalHeritage.none">
     <li *ngIf="responses.protectionPerimeterContainsGeologicalHeritage.inpg">INPG: {{ responses.protectionPerimeterContainsGeologicalHeritage.inpg }}</li>
     <li *ngIf="responses.protectionPerimeterContainsGeologicalHeritage.other">Autres: {{ responses.protectionPerimeterContainsGeologicalHeritage.other }}</li>
     <li *ngIf="responses.protectionPerimeterContainsGeologicalHeritage.none">Aucun: {{ responses.protectionPerimeterContainsGeologicalHeritage.none }}</li>
   </ul>
 
     <h4>Q-4: Les principaux intérêts géologiques ?</h4>
     <ul>
       <li>Stratigraphique: {{ responses.mainGeologicalInterests.stratigraphic }}</li>
       <li>Paléontologique: {{ responses.mainGeologicalInterests.paleontological }}</li>
       <li>Sédimentologique: {{ responses.mainGeologicalInterests.sedimentological }}</li>
       <li>Géomorphologique: {{ responses.mainGeologicalInterests.geomorphological }}</li>
       <li>Ressource minérale: {{ responses.mainGeologicalInterests.mineralResource }}</li>
       <li>Minéralogique: {{ responses.mainGeologicalInterests.mineralogical }}</li>
       <li>Métamorphisme: {{ responses.mainGeologicalInterests.metamorphism }}</li>
       <li>Volcanisme: {{ responses.mainGeologicalInterests.volcanism }}</li>
       <li>Plutonisme: {{ responses.mainGeologicalInterests.plutonism }}</li>
       <li>Hydrogéologie: {{ responses.mainGeologicalInterests.hydrogeology }}</li>
       <li>Tectonique: {{ responses.mainGeologicalInterests.tectonics }}</li>
     </ul>
 
     <h4>Q-5: Le site contient-il un patrimoine paléontologique ?</h4>
     <p>{{ responses.containsPaleontologicalHeritage.answer }}</p>
     <ul>
       <li>Vertébrés: {{ responses.containsPaleontologicalHeritage.vertebrates }}</li>
       <li>Invertébrés: {{ responses.containsPaleontologicalHeritage.invertebrates }}</li>
       <li>Végétaux: {{ responses.containsPaleontologicalHeritage.plants }}</li>
       <li>Traces fossiles: {{ responses.containsPaleontologicalHeritage.traceFossils }}</li>
       <li>Autres: {{ responses.containsPaleontologicalHeritage.other }}</li>
       <li>Détails: {{ responses.containsPaleontologicalHeritage.otherDetails }}</li>
     </ul>
 
     <h4>Q-6: Collections géologiques propres</h4>
     <p>{{ responses.collectionsGeologiquesPropres }}</p>
 
     <h4>Q-7: Expositions géologiques</h4>
     <p>{{ responses.expositionGeologiques }}</p>
 
     <h4>Q-8: Âge des terrains</h4>
     <p>{{ responses.ageTerrains.join(', ') }}</p>
 
     <h4>Q-9: Stratotype</h4>
     <ul>
       <li>{{ responses.stratotype }}</li>
       <li>Stratotype de limite: {{ responses.stratotypeLimite }}</li>
       <li>Détails: {{ responses.stratotypeLimiteDetails }}</li>
       <li>Stratotype d’étage: {{ responses.stratotypeEtage }}</li>
       <li>Détails: {{ responses.stratotypeEtageDetails }}</li>
     </ul>
 
     <h4>Q-10: Milieux souterrains</h4>
     <ul>
       <li>{{ responses.milieuxSouterrains }}</li>
       <li>Cavités naturelles: {{ responses.cavitesNaturelles }}</li>
       <li>Cavités anthropiques: {{ responses.cavitesAnthropiques }}</li>
     </ul>
 
     <h4>Q-11: Exploitation des ressources minérales</h4>
     <ul>
       <li>{{ responses.exploitationMinerale }}</li>
       <li>Ancienne carrière: {{ responses.ancienneCarriere }}</li>
       <li>Substance exploitée: {{ responses.ancienneCarriereSubstance }}</li>
       <li>Matériau fossilifère: {{ responses.ancienneCarriereFossilifere }}</li>
       <li>Carrière en activité: {{ responses.carriereActive }}</li>
       <li>Substance exploitée: {{ responses.carriereActiveSubstance }}</li>
       <li>Matériau fossilifère: {{ responses.carriereActiveFossilifere }}</li>
       <li>Ancienne mine: {{ responses.ancienneMine }}</li>
       <li>Substance exploitée: {{ responses.ancienneMineSubstance }}</li>
       <li>Matériau fossilifère: {{ responses.ancienneMineFossilifere }}</li>
       <li>Mine en activité: {{ responses.mineActive }}</li>
       <li>Substance exploitée: {{ responses.mineActiveSubstance }}</li>
       <li>Matériau fossilifère: {{ responses.mineActiveFossilifere }}</li>
     </ul>
 
     <h4>Q-12: Site géologique aménagé</h4>
     <p>{{ responses.siteGeologiqueAmenege }}</p>
 
     <h4>Q-13: Animations géodiversité</h4>
     <p>{{ responses.animationsGeodiversite }}</p>
      <!-- Lien pour retourner à la mini question --> 
     
   
     
  
 </div>
 