/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/bootstrap";
@import '~quill/dist/quill.snow.css';

@import 'styles/custom-theme.scss';
@import 'conf/custom.scss';

/* Bouton Confirm (OK) */
.swal2-confirm {
    background-color: mat-color($custom-primary, 500) !important;
    /* Vert */
    color: white !important;
    border: none !important;
    border-radius: 4px !important;
}

/* Bouton Deny */
.swal2-deny {
    background-color: mat-color($custom-accent, 500) !important;
    /* Rouge */
    color: white !important;
    border: none !important;
    border-radius: 4px !important;
}