<div class="contenu">
  <h3 class="main-title">Bienvenue sur la base de données géologiques de Réserves Naturelles de France !</h3>
  <h6 class="subtitle">Venez saisir et consulter les données géologiques associées aux réserves naturelles</h6>
  <br>
  <div class="chiffre-clé">
    <div class="statistiques-item">
      <img src="assets/images/symbol11_final.png" alt="Icône des réserves naturelles" class="statistiques-image">
      <div class="text-container">
        <span class="big-number">{{ totalSites }}</span>
        <p>Nombre total de réserves naturelles, en France métropolitaine et ultramarine</p>
      </div>
    </div>

    <div class="statistiques-item">
      <div class="icon-text-container">
        <div class="statistiques-image icon-container" style="position: relative;">
          <div class="icon-background">
            <img src="assets/images/symbol11_final.png" alt="Icon background" class="hexagon">
          </div>
          <div class="icon-fill" [ngStyle]="{'clip-path': getClipPath(inpgPercentage)}">
            <img src="assets/images/symbol22_final.png" alt="Icon fill" class="hexagon">
          </div>
        </div>
        <span class="big-number">{{ inpgPercentage.toFixed(0) }}% </span>
        <div class="statistiques-texte">
          <p>Soit la proportion des réserves naturelles qui sont connues pour abriter du patrimoine géologique</p>
        </div>
      </div>
    </div>

    <div class="statistiques-item">
      <img src="assets/images/INPG.png" alt="Icône de site INPG" class="statistiques-image">
      <div class="text-container">
        <span class="big-number">{{ totalInpgSites }}</span>
        <p>Nombre de sites de l’Inventaire National du Patrimoine Géologique qui sont localisés au moins en partie en réserve naturelle</p>
      </div>
    </div>

    <div class="statistiques-item">
      <img src="assets/images/stratotype.png" alt="Icône de stratotypes" class="statistiques-image">
      <div class="text-container">
        <span class="big-number">{{ totalStratotypes }}</span>
        <p>C’est le nombre de stratotypes protégés par des réserves naturelles, c’est-à-dire des affleurements de référence pour les géologues du monde entier</p>
      </div>
    </div>
  </div>

  <div class="search-container">
    <!-- Filtres de recherche -->
    <mat-form-field appearance="outline">
      <mat-label>Rechercher un site</mat-label>
      <input matInput (input)="handleSearch($event)" placeholder="Ex: Aiguilles Rouges">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Famille</mat-label>
      <mat-select [(value)]="selectedTypeRn" (selectionChange)="onTypeRnChange($event.value)">
        <mat-option value="">(Toutes)</mat-option>
        <mat-option value="RNN">RNN</mat-option>
        <mat-option value="RNR">RNR</mat-option>
        <mat-option value="RNC">RNC</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Patrimoine Géologique</mat-label>
      <mat-select [(value)]="selectedPatrimoine" (selectionChange)="onPatrimoineChange($event.value)">
        <mat-option value="">(Tous)</mat-option>
        <mat-option value="oui">Avec Patrimoine Géologique</mat-option>
        <mat-option value="non">Sans Patrimoine Géologique</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Ajout du filtre de région -->
    <mat-form-field appearance="outline">
      <mat-label>Région</mat-label>
      <mat-select [(value)]="selectedRegion" (selectionChange)="onRegionChange($event.value)">
        <mat-option value="">(Toutes)</mat-option>
        <mat-option *ngFor="let region of regions" [value]="region">{{ region }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- En-têtes des colonnes : Réserve, Code, Famille, Site INPG -->
  <div class="header-row">
    <span class="header-item">Réserve</span>
    <span class="header-item">Code</span>
    <span class="header-item">Famille</span>
    <span class="header-item">Site INPG</span>

  </div>

  <!-- Liste des sites avec les colonnes Code, Type_rn, Site INPG et Région -->
  <mat-list>
    <mat-list-item *ngFor="let site of filteredEspaces">
      <mat-card class="espace-card">
        <mat-card-content class="site-row">
          <span class="site-name">{{ site.nom }}</span>
          <span class="site-code">{{ site.code }}</span>
          <span class="site-type">{{ site.type_rn }}</span>
          <span *ngIf="site.id_metier" class="site-metier">{{ site.id_metier }}</span>
          <!-- Affiche id_metier s'il existe -->
        </mat-card-content>
      </mat-card>
    </mat-list-item>
  </mat-list>
</div>
