<div class="contenu">
  <h3 class="main-title">Bienvenue sur la base de données géologiques de Réserves Naturelles de France !</h3>
  <h6 class="subtitle">Venez saisir et consulter les données géologiques associées aux réserves naturelles</h6>
  <br>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let stat of stats" class="row d-flex align-items-center">
        <div class="col-md-2 stat-logo d-flex justify-content-center">
          <div>
            <img [src]="stat.icon" class="statistiques-image">
          </div>
        </div>
        <div class="col-md-3 stat-chiffre d-flex justify-content-center">
          {{ stat.chiffre }}
        </div>
        <div class="col-md-7 stat-texte d-flex align-items-center">
          {{ stat.texte }}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="map"></div>
    </div>
  </div>

  <br>
  <br>


  <div class="search-container">
    <!-- Filtres de recherche -->
    <mat-form-field appearance="outline">
      <mat-label>Rechercher réserve naturelle </mat-label>
      <input matInput (input)="handleSearch($event)" placeholder="Ex: Aiguilles Rouges ou RNN18">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Famille</mat-label>
      <mat-select [(value)]="selectedTypeRn" (selectionChange)="onTypeRnChange($event.value)" multiple>
        <mat-option value="RNN">RNN</mat-option>
        <mat-option value="RNR">RNR</mat-option>
        <mat-option value="RNC">RNC</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Patrimoine géologique</mat-label>
      <mat-select [(value)]="selectedPatrimoine" (selectionChange)="onPatrimoineChange($event.value)">
        <mat-option *ngIf="selectedPatrimoine" (click)="clearPatrimoineSelection()" class="reset-option">
          <span>Réinitialiser la sélection</span>
        </mat-option>
        <mat-option value="oui">Avec patrimoine géologique identifié</mat-option>
        <mat-option value="non">Sans patrimoine géologique identifié</mat-option>
        <mat-option value="reserve_geologique">Créée pour son patrimoine géologique</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Ajout du filtre de région -->
    <mat-form-field appearance="outline">
      <mat-label>Région</mat-label>
      <mat-select [(value)]="selectedRegion" (selectionChange)="onRegionChange($event.value)" multiple>
        <mat-option *ngFor="let region of regions" [value]="region">{{ region }}</mat-option>
      </mat-select>
    </mat-form-field>


  </div>

  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom du site </th>
      <td mat-cell *matCellDef="let element" (click)="onRowClick(element)"> {{element.nom}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code RNF </th>
      <td mat-cell *matCellDef="let element" (click)="onRowClick(element)"> {{element.code}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type_rn}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="inpg">
      <th mat-header-cell *matHeaderCellDef> Sites INPG </th>
      <td mat-cell *matCellDef="let element">
        <!-- Boucle sur les éléments non confidentiels -->
        <ng-container *ngFor="let inpg of getNonConfidentialSites(element); let i = index">
          <a [href]="'https://inpn.mnhn.fr/site/inpg/' + inpg.inpg.id_metier" target="_blank">{{ inpg.inpg.id_metier
            }}</a>
          <!-- Ajoute un séparateur si ce n'est pas le dernier élément visible -->
          <span *ngIf="i < getNonConfidentialSites(element).length - 1">, </span>
        </ng-container>

        <!-- Affiche le nombre de sites confidentiels uniquement s'il y a des sites non confidentiels -->
        <span *ngIf="getNonConfidentialSites(element).length > 0 && countConfidentialSites(element) > 0">
          + {{ countConfidentialSites(element) }} {{ countConfidentialSites(element) === 1 ? 'site confidentiel' :
          'sites confidentiels' }}
        </span>

        <!-- Affiche directement si tous les sites sont confidentiels (aucun site non confidentiel) -->
        <span *ngIf="getNonConfidentialSites(element).length === 0 && countConfidentialSites(element) > 0">
          {{ countConfidentialSites(element) === 1 ? '1 site confidentiel' : countConfidentialSites(element) +
          ' sites confidentiels' }}
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
  <div class="button-export-container">
    <button mat-raised-button color="primary" (click)="exportAsXlsx()">
      <mat-icon>download</mat-icon> Télécharger en XLSX
    </button>
  </div>
</div>