<div class="container">
  <h1>Mini Questionnaire</h1>
  <form [formGroup]="tInfosBaseSiteForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id_site">
    <!-- Question 1 -->
    <div class="form-group">
      <label>
        <h6>Est-ce que la réserve a été créée sur le fondement d’un patrimoine géologique</h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="reserve_created_on_geological_basis">Non / Oui</mat-slide-toggle>
      </div>
    </div>
<!-- Question 2 -->
   <!-- Question 2 -->
<div class="container">
  <div class="form-group">
    <label>
      <h6>Est-ce que la réserve abrite du patrimoine géologique</h6>
    </label>
    <div>
      <div *ngIf="tInfosBaseSiteForm.get('reserve_contains_geological_heritage_inpg')?.value">
        <div *ngFor="let inpg of site.inpg">
          <p>
            <a [href]="inpg.url" target="_blank">{{ inpg.lb_site }}</a>
            {{ inpg.interet_geol_principal }} - 
            <ngb-rating [max]="3" [(rate)]="inpg.nombre_etoiles" [readonly]="true"></ngb-rating>
          </p>
        </div>

        <div formArrayName="geologicalHeritages" *ngFor="let heritage of geologicalHeritages.controls; let i = index">
          <div [formGroupName]="i" class="heritage-entry">
            <button mat-icon-button class="remove-button" (click)="removeHeritage(i)">
              <mat-icon>x</mat-icon>
            </button>
            <mat-form-field appearance="fill">
              <mat-label>Libellé</mat-label>
              <input matInput formControlName="lb">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Intérêt Géologique Principal</mat-label>
              <mat-select formControlName="interet_geol_principal">
                <mat-option *ngFor="let option of geologicalInterestOptions" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Âge des Terrains le Plus Récent</mat-label>
              <input matInput formControlName="age_des_terrains_le_plus_recent">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Âge des Terrains le Plus Ancien</mat-label>
              <input matInput formControlName="age_des_terrains_le_plus_ancien">
            </mat-form-field>
            
           
            
            <mat-form-field appearance="fill" class="bibliographie-field">
              <mat-label>Bibliographie</mat-label>
              <textarea matInput formControlName="bibliographie"></textarea>
            </mat-form-field>
            <div class="star-rating">
              <ngb-rating [max]="3" [(rate)]="heritage.value.nombre_etoiles" [readonly]="false"></ngb-rating>
            </div>
          </div>
        </div>
        
        <button mat-fab class="add-button" (click)="addHeritage()">
          <mat-icon>+</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

    

        
  
    
    <!-- Question 3 -->
    <div class="form-group">
      <label>
        <h6>Est-ce que le périmètre de protection de la réserve (hors secteurs classés) abrite du patrimoine géologique (données INPG)</h6>
      </label>
      <div>
        <mat-checkbox formControlName="protection_perimeter_contains_geological_heritage_inpg">Oui</mat-checkbox>
        <div *ngIf="tInfosBaseSiteForm.get('protection_perimeter_contains_geological_heritage_inpg')?.value">
          <mat-form-field>
            <mat-label>Préciser les détails</mat-label>
            <input matInput formControlName="protection_perimeter_contains_geological_heritage_other">
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Question 4 -->
    <div class="form-group" formGroupName="main_geological_interests">
      <label>
        <h6>Quels sont les intérêts géologiques principaux de la réserve</h6>
      </label>
      <div>
        <mat-checkbox formControlName="stratigraphic">Stratigraphique</mat-checkbox>
        <mat-checkbox formControlName="paleontological">Paléontologique</mat-checkbox>
        <mat-checkbox formControlName="sedimentological">Sédimentologique</mat-checkbox>
        <mat-checkbox formControlName="geomorphological">Géomorphologique</mat-checkbox>
        <mat-checkbox formControlName="mineral_resource">Ressource minérale</mat-checkbox>
        <mat-checkbox formControlName="mineralogical">Minéralogique</mat-checkbox>
        <mat-checkbox formControlName="metamorphism">Métamorphisme</mat-checkbox>
        <mat-checkbox formControlName="volcanism">Volcanisme</mat-checkbox>
        <mat-checkbox formControlName="plutonism">Plutonisme</mat-checkbox>
        <mat-checkbox formControlName="hydrogeology">Hydrogéologie</mat-checkbox>
        <mat-checkbox formControlName="tectonics">Tectonique</mat-checkbox>
      </div>
    </div>

    <!-- Question 5 -->
    <div class="form-group" formGroupName="contains_paleontological_heritage">
      <label>
        <h6>Est-ce que les terrains de la réserve renferment du patrimoine paléontologique ?</h6>
      </label>
      <div>
        <mat-radio-group formControlName="answer">
          <mat-radio-button [value]="true">Oui</mat-radio-button>
          <mat-radio-button [value]="false">Non</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="tInfosBaseSiteForm.get('contains_paleontological_heritage')?.get('answer')?.value">
          <mat-checkbox formControlName="vertebrates">Vertébrés</mat-checkbox>
          <mat-checkbox formControlName="invertebrates">Invertébrés</mat-checkbox>
          <mat-checkbox formControlName="plants">Végétaux</mat-checkbox>
          <mat-checkbox formControlName="traceFossils">Traces fossiles</mat-checkbox>
          <mat-checkbox formControlName="other">Autres</mat-checkbox>
          <div *ngIf="tInfosBaseSiteForm.get('contains_paleontological_heritage')?.get('other')?.value">
            <mat-form-field>
              <mat-label>Préciser</mat-label>
              <input matInput formControlName="otherDetails">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <!-- Question 6 -->
    <div class="form-group">
      <label>
        <h6>Est-ce que la réserve dispose de collections géologiques propres</h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="reserve_has_geological_collections">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <!-- Question 7 -->
    <div class="form-group">
      <label>
        <h6>Est-ce que la réserve dispose d’un lieu d’exposition de collections géologiques</h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="reserve_has_exhibition">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <!-- Question 8 -->
    <div class="form-group">
      <label>
        <h6>Âge des terrains à l’affleurement dans la réserve</h6>
      </label>
      <div>
        <mat-form-field>
          <mat-label>Âge des terrains</mat-label>
          <input matInput formControlName="geological_age" placeholder="Saisissez l'âge des terrains">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Étage</mat-label>
          <input matInput formControlName="etage" placeholder="Saisissez l'étage">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Ère Période Époque</mat-label>
          <input matInput formControlName="ere_periode_epoque" placeholder="Saisissez l'ère, période ou époque">
        </mat-form-field>
      </div>
    </div>

    <!-- Question 9 -->
    <div class="form-group">
      <label>
        <h6>Est-ce que la réserve (périmètre de protection inclus) abrite un stratotype ?</h6>
      </label>
      <div>
        <mat-radio-group formControlName="reserve_contains_stratotype">
          <mat-radio-button [value]="true">Oui</mat-radio-button>
          <mat-radio-button [value]="false">Non</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="tInfosBaseSiteForm.get('reserve_contains_stratotype')?.value">
          <mat-checkbox formControlName="stratotype_limit">Stratotype de limite</mat-checkbox>
          <div *ngIf="tInfosBaseSiteForm.get('stratotype_limit')?.value">
            <mat-form-field>
              <mat-label>Préciser le ou les stratotypes concernés</mat-label>
              <input matInput formControlName="stratotype_limit_input">
            </mat-form-field>
          </div>
          <mat-checkbox formControlName="stratotype_stage">Stratotype d’étage</mat-checkbox>
          <div *ngIf="tInfosBaseSiteForm.get('stratotype_stage')?.value">
            <mat-form-field>
              <mat-label>Préciser le ou les stratotypes concernés</mat-label>
              <input matInput formControlName="stratotype_stage_input">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <!-- Question 10 -->
    <div class="form-group">
      <label>
        <h6>Est-ce que la réserve présente des milieux souterrains abritant un patrimoine naturel identifié, biologique ou géologique (périmètre de protection inclus)</h6>
      </label>
      <div>
        <mat-radio-group formControlName="contains_subterranean_habitats">
          <mat-radio-button [value]="true">Oui</mat-radio-button>
          <mat-radio-button [value]="false">Non</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="tInfosBaseSiteForm.get('contains_subterranean_habitats')?.value">
          <mat-checkbox formControlName="subterranean_habitats_natural_cavities">Cavités naturelles</mat-checkbox>
          <mat-checkbox formControlName="subterranean_habitats_anthropogenic_cavities">Cavités anthropiques</mat-checkbox>
        </div>
      </div>
    </div>

    <!-- Question 11 -->
    <div class="form-group">
      <label>Est-ce que la réserve est associée à une exploitation de ressources minérales ?</label>
      <div>
        <mat-radio-group formControlName="associated_with_mineral_resources">
          <mat-radio-button [value]="true">Oui</mat-radio-button>
          <div *ngIf="tInfosBaseSiteForm.get('associated_with_mineral_resources')?.value">
            <div>
              <mat-checkbox formControlName="mineral_resources_old_quarry">Ancienne carrière</mat-checkbox>
              <mat-checkbox formControlName="mineral_resources_active_quarry">Carrière en activité</mat-checkbox>
              <div *ngIf="tInfosBaseSiteForm.get('mineral_resources_active_quarry')?.value">
                <label>Préciser la substance exploitée</label>
                <input type="text" formControlName="quarry_extracted_material" />
                <label>Préciser si le matériau est fossilifère</label>
                <mat-radio-group formControlName="quarry_fossiliferous_material">
                  <mat-radio-button [value]="true">Oui</mat-radio-button>
                  <mat-radio-button [value]="false">Non</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div>
              <mat-checkbox formControlName="mineral_resources_old_mine">Ancienne mine</mat-checkbox>
              <mat-checkbox formControlName="mineral_resources_active_mine">Mine en activité</mat-checkbox>
              <div *ngIf="tInfosBaseSiteForm.get('mineral_resources_active_mine')?.value">
                <label>Préciser la substance exploitée</label>
                <input type="text" formControlName="mine_extracted_material" />
                <label>Préciser si le matériau est fossilifère</label>
                <mat-radio-group formControlName="mine_fossiliferous_material">
                  <mat-radio-button [value]="true">Oui</mat-radio-button>
                  <mat-radio-button [value]="false">Non</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <mat-radio-button [value]="false">Non</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- Question 12 -->
    <div class="form-group">
      <label>
        <h6>Est-ce que la réserve dispose d’un site géologique aménagé pour les visiteurs</h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="reserve_has_geological_site_for_visitors">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <!-- Question 13 -->
    <div class="form-group">
      <label>
        <h6>Est-ce que la réserve propose des animations sur la thématique géodiversité / patrimoine géologique</h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="offers_geodiversity_activities">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <button mat-raised-button type="submit" [disabled]="tInfosBaseSiteForm.invalid">Soumettre</button>
  </form>
</div>
