.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
  
  
}

 

 

.mat-form-field {
  width: 100%;
  
}

 


.heritage-entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.heritage-entry mat-form-field {
  flex: 1;
  margin-right: 10px;
}

.add-button {
  background-color: #0B885D;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto; /* Center the button */
}

.remove-button {
 
  color: black;
   
  margin-bottom: 50px;
   
  justify-content: center;
  
}

 

.bibliographie-field {
  margin: 20px auto; /* Center the field */
  display: block;
  width: 80%; /* Adjust width as needed */
}

  .stratigraphie {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    flex-wrap: wrap; /* Permet de passer à la ligne si les éléments dépassent */
    gap: 16px; /* Espace entre les éléments */
    margin-top: 16px;
  }
  
  .stratigraphie mat-form-field {
    flex: 1; /* Permet de répartir les éléments également */
    min-width: 200px; /* Largeur minimale pour chaque élément */
  }
  .star-rating {
    font-size: 24px; /* Taille des étoiles */
    color: #0B885D; /* Couleur des étoiles */
  }
  
  /* Pour s'assurer que les étoiles inactives soient grises */
  .star-rating .ngb-star {
    color: lightgray;
  }
  
  .star-rating .ngb-star.filled {
    color: #0B885D;
  }

  .color-button .mat-radio-label-content {
    color: #0B885D; /* Couleur du texte */
  }
  
  .color-button .mat-radio-outer-circle,
  .color-button .mat-radio-inner-circle {
    border-color: #0B885D; /* Couleur du cercle extérieur */
  }
  
  .color-button.mat-radio-checked .mat-radio-outer-circle {
    background-color: #0B885D; /* Couleur du cercle intérieur quand coché */
  }
  
  .color-button.mat-radio-checked .mat-radio-inner-circle {
    background-color: #0B885D; /* Couleur de l'intérieur du bouton radio quand coché */
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Optionnel : ajustez l'espace au-dessus du bouton */
  }
  
  .custom-button {
    background-color: #0B885D !important;
    color: white; /* Pour le texte en blanc */
  }
  .submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .submit-button-container button {
    background-color: #0B885D; /* Exemple de couleur verte */
    color: white; /* Couleur du texte en blanc */
    margin-right: 10px; /* Espace à droite du bouton, vous pouvez ajuster selon vos besoins */
  }
  .full-width {
    width: 100%; /* Assure que le champ prend toute la largeur disponible */
    min-width: 300px; /* Ou une autre largeur minimale adaptée */
  }
  
  
 
 
  

 
  
  