<div class="container">
  <h1>TInfosBaseSite Questionnaire</h1>
  <form [formGroup]="tInfosBaseSiteForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id_site">
    <!-- Question 1 -->
    <div class="form-group">
      <label>
        <h6>a- Est-ce que la réserve a été créée sur le fondement d’un patrimoine géologique </h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="reserve_created_on_geological_basis">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <!-- Question 2 -->
    <div class="form-group">
      <label>
        <h6> Est-ce que la réserve abrite du patrimoine géologique (données INPG) </h6>
      </label>
      <div>
        <mat-checkbox formControlName="reserve_contains_geological_heritage_inpg">Oui</mat-checkbox>
        <div *ngIf="tInfosBaseSiteForm.get('reserve_contains_geological_heritage_inpg')?.value">
          <mat-form-field>
            <mat-label>Liste des sites INPG associés à la RN</mat-label>
            <input matInput formControlName="reserve_contains_geological_heritage_other"
              placeholder="Remplissage automatisé à partir des données INPG">
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Question 3 -->

    <div class="form-group">
      <label>
        <h6> Est-ce que le périmètre de protection de la réserve (hors secteurs classés) abrite du patrimoine géologique
          (données INPG) </h6>
      </label>
      <div>
        <mat-checkbox formControlName="protection_perimeter_contains_geological_heritage_inpg">Oui</mat-checkbox>
        <div *ngIf="tInfosBaseSiteForm.get('protection_perimeter_contains_geological_heritage_inpg')?.value">
          <mat-form-field>
            <mat-label>Préciser les détails</mat-label>
            <input matInput formControlName="protection_perimeter_contains_geological_heritage_other">
          </mat-form-field>
        </div>
      </div>
    </div>

    <!--  Question 4 -->
    <div class="form-group" formGroupName="main_geological_interests">
      <label>
        <h6>Quels sont les intérêts géologiques principaux de la réserve</h6>
      </label>
      <div>
        <mat-checkbox formControlName="stratigraphic">Stratigraphique</mat-checkbox>
        <mat-checkbox formControlName="paleontological">Paléontologique</mat-checkbox>
        <mat-checkbox formControlName="sedimentological">Sédimentologique</mat-checkbox>
        <mat-checkbox formControlName="geomorphological">Géomorphologique</mat-checkbox>
        <mat-checkbox formControlName="mineral_resource">Ressource minérale</mat-checkbox>
        <mat-checkbox formControlName="mineralogical">Minéralogique</mat-checkbox>
        <mat-checkbox formControlName="metamorphism">Métamorphisme</mat-checkbox>
        <mat-checkbox formControlName="volcanism">Volcanisme</mat-checkbox>
        <mat-checkbox formControlName="plutonism">Plutonisme</mat-checkbox>
        <mat-checkbox formControlName="hydrogeology">Hydrogéologie</mat-checkbox>
        <mat-checkbox formControlName="tectonics">Tectonique</mat-checkbox>
      </div>
    </div>



    <!-- Question 5 -->
    <div class="form-group" formGroupName="contains_paleontological_heritage">
      <label>
        <h6>Est-ce que les terrains de la réserve renferment du patrimoine paléontologique ?</h6>
      </label>
      <div>
        <mat-radio-group formControlName="answer">
          <mat-radio-button value="true">Oui</mat-radio-button>
          <div *ngIf="tInfosBaseSiteForm.get('contains_paleontological_heritage')?.get('answer')?.value === 'true'">
            <mat-checkbox formControlName="vertebrates">Vertébrés</mat-checkbox>
            <mat-checkbox formControlName="invertebrates">Invertébrés</mat-checkbox>
            <mat-checkbox formControlName="plants">Végétaux</mat-checkbox>
            <mat-checkbox formControlName="traceFossils">Traces fossiles</mat-checkbox>
            <mat-checkbox formControlName="other">Autres</mat-checkbox>
            <div *ngIf="tInfosBaseSiteForm.get('contains_paleontological_heritage')?.get('other')?.value">
              <mat-form-field>
                <mat-label>Préciser</mat-label>
                <input matInput formControlName="otherDetails">
              </mat-form-field>

            </div>
          </div>
          <mat-radio-button value="false">Non</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>






    <!-- Question 6  -->
    <div class="form-group">
      <label>
        <h6>Est-ce que la réserve dispose de collections géologiques propres </h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="reserve_has_geological_collections">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <!-- Question 7  -->
    <div class="form-group">
      <label>
        <h6> Est-ce que la réserve dispose d’un lieu d’exposition de collections géologiques </h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="reserve_has_exhibition">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <!-- Question 8   
    <div class="form-group">
      <label>
        <h6>  Âge des terrains à l’affleurement dans la réserve</h6>
      </label>
      <div>
        <mat-form-field>
          <mat-select formControlName="geological_age" multiple>
            <mat-option *ngFor="let age of ages" [value]="age">{{ age }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>-->
    <div class="form-group">
      <label>
        <h6>Âge des terrains à l’affleurement dans la réserve</h6>
      </label>
      <div>
        <mat-form-field *ngIf="eres">
          <mat-select placeholder={{eres.label}} formControlName="eres" multiple (selectionChange)="onEresSelectionChange($event)">
            <mat-option *ngFor="let nomenclature of eres.nomenclatures" [value]="nomenclature.id_nomenclature">
              {{nomenclature.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>   
        <mat-form-field *ngIf="systemes && filteredSystemes && filteredSystemes.length > 0">
          <mat-select placeholder={{systemes.label}} formControlName="systemes" multiple (selectionChange)="onSystemesSelectionChange($event)">
            <mat-option *ngFor="let nomenclature of filteredSystemes" [value]="nomenclature.id_nomenclature">
              {{nomenclature.label}}
            </mat-option>
          </mat-select>
        </mat-form-field> 
        <mat-form-field *ngIf="series && filteredSeries && filteredSeries.length > 0">
          <mat-select placeholder={{series.label}} formControlName="series" multiple (selectionChange)="onSeriesSelectionChange($event)">
            <mat-option *ngFor="let nomenclature of filteredSeries" [value]="nomenclature.id_nomenclature">
              {{nomenclature.label}}
            </mat-option>
          </mat-select>
        </mat-form-field> 
        <mat-form-field *ngIf="etages && filteredEtages && filteredEtages.length > 0">
          <mat-select placeholder={{etages.label}} formControlName="etages" multiple>
            <mat-option *ngFor="let nomenclature of filteredEtages" [value]="nomenclature.id_nomenclature">
              {{nomenclature.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>        
      </div>
    </div>


    <!-- Question 9 -->
    <div class="form-group">
      <label>
        <h6> Est-ce que la réserve (périmètre de protection inclus) abrite un stratotype </h6>
      </label>
      <div>
        <mat-radio-group formControlName="reserve_contains_stratotype">
          <mat-radio-button value="true">Oui</mat-radio-button>
          <div *ngIf="tInfosBaseSiteForm.get('reserve_contains_stratotype')?.value === 'true'">
            <mat-checkbox formControlName="stratotype_details">Stratotype de limite</mat-checkbox>
            <div *ngIf="tInfosBaseSiteForm.get('stratotype_details')?.value">
              <mat-form-field>
                <mat-label>Préciser le ou les stratotypes concernés</mat-label>
                <input matInput formControlName="stratotype_details">
              </mat-form-field>
            </div>
          </div>
          <mat-radio-button value="false">Non</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!--  Question 10 -->
    <div class="form-group">
      <label>
        <h6> Est-ce que la réserve présente des milieux souterrains abritant un patrimoine naturel identifié,
          biologique ou géologique (périmètre de protection inclus) </h6>
      </label>
      <div>
        <mat-radio-group formControlName="contains_subterranean_habitats">
          <mat-radio-button value="true">Oui</mat-radio-button>
          <div *ngIf="tInfosBaseSiteForm.get('contains_subterranean_habitats')?.value === 'true'">
            <mat-checkbox formControlName="subterranean_habitats_natural_cavities">Cavités naturelles</mat-checkbox>
            <mat-checkbox formControlName="subterranean_habitats_anthropogenic_cavities">Cavités
              anthropiques</mat-checkbox>
          </div>
          <mat-radio-button value="false">Non</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- Question 11 -->
    <div class="form-group">
      <label>Est-ce que la réserve est associée à une exploitation de ressources minérales ?</label>
      <div>
        <mat-radio-group formControlName="associated_with_mineral_resources">
          <mat-radio-button [value]="true">Oui</mat-radio-button>
          <div *ngIf="tInfosBaseSiteForm.get('associated_with_mineral_resources')?.value">
            <div>
              <mat-checkbox formControlName="mineral_resources_old_quarry">Ancienne carrière</mat-checkbox>
              <mat-checkbox formControlName="mineral_resources_active_quarry">Carrière en activité</mat-checkbox>
              <div *ngIf="tInfosBaseSiteForm.get('mineral_resources_active_quarry')?.value">
                <label>Préciser la substance exploitée</label>
                <input type="text" formControlName="quarry_extracted_material" />
                <label>Préciser si le matériau est fossilifère</label>
                <mat-radio-group formControlName="quarry_fossiliferous_material">
                  <mat-radio-button [value]="true">Oui</mat-radio-button>
                  <mat-radio-button [value]="false">Non</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div>
              <mat-checkbox formControlName="mineral_resources_old_mine">Ancienne mine</mat-checkbox>
              <mat-checkbox formControlName="mineral_resources_active_mine">Mine en activité</mat-checkbox>
              <div *ngIf="tInfosBaseSiteForm.get('mineral_resources_active_mine')?.value">
                <label>Préciser la substance exploitée</label>
                <input type="text" formControlName="mine_extracted_material" />
                <label>Préciser si le matériau est fossilifère</label>
                <mat-radio-group formControlName="mine_fossiliferous_material">
                  <mat-radio-button [value]="true">Oui</mat-radio-button>
                  <mat-radio-button [value]="false">Non</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <mat-radio-button [value]="false">Non</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>


    <!--Question 12 -->
    <div class="form-group">
      <label>
        <h6>Est-ce que la réserve dispose d’un site géologique aménagé pour les visiteurs </h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="reserve_has_geological_site_for_visitors">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <!-- Question 13  -->
    <div class="form-group">
      <label>
        <h6>Est-ce que la réserve propose des animations sur la thématique géodiversité / patrimoine géologique </h6>
      </label>
      <div>
        <mat-slide-toggle formControlName="offers_geodiversity_activities">Non / Oui</mat-slide-toggle>
      </div>
    </div>

    <button mat-raised-button type="submit" [disabled]="tInfosBaseSiteForm.invalid">Soumettre</button>
  </form>
</div>