.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.mat-radio-group, .mat-checkbox-group {
  display: flex;
  flex-direction: column;
}

.mat-radio-button, .mat-checkbox {
  margin-bottom: 10px;
}

.mat-form-field {
  width: 100%;
}

button {
  margin-top: 10px;
}

.heritage-entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.heritage-entry mat-form-field {
  flex: 1;
  margin-right: 10px;
}

.add-button {
  background-color: yellow;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto; /* Center the button */
}

.remove-button {
  color: rgb(20, 20, 20);
  margin-bottom: 50px;
}

.star-rating {
  display: flex;
  align-items: center;
}

.star-rating .ngb-rating {
  font-size: 50rem; /* Increase the size of the stars */
}

.star-rating .ngb-rating .star.filled {
  color: gold;
}

.bibliographie-field {
  margin: 20px auto; /* Center the field */
  display: block;
  width: 80%; /* Adjust width as needed */
}

  .stratigraphie {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    flex-wrap: wrap; /* Permet de passer à la ligne si les éléments dépassent */
    gap: 16px; /* Espace entre les éléments */
    margin-top: 16px;
  }
  
  .stratigraphie mat-form-field {
    flex: 1; /* Permet de répartir les éléments également */
    min-width: 200px; /* Largeur minimale pour chaque élément */
  }
